

@{
    ViewBag.Title = "University Management System";
}

<!DOCTYPE html>

<html>
<head>
    <title>University Management System</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/home.css" rel="stylesheet" />
 
</head>
<body>



    <div class="container">
        <div class="jumbotron">
            <h1>
                <i class="fa fa-building-o"></i> University Management System
            </h1>
            <p>Bulid By Team Revolutionist</p>
        </div>
    </div>
    
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>